@use "./variables" as v;
@use "./mixins" as m;

img {
  width: 100%;
}

.image--bw {
  filter: grayscale(100%);
  mix-blend-mode: multiply;
}

.star {
  display: inline-block;
  aspect-ratio: 1/1;
  color: rgba(0, 0, 0, 0);
  background: url("./img/star_n.svg") no-repeat center;

  &--l1 {
    background: url("./img/star_l1.svg") no-repeat center;
  }
  &--l2 {
    background: url("./img/star_l2.svg") no-repeat center;
  }
  &--l3 {
    background: url("./img/star_l3.svg") no-repeat center;
  }
  &--l4 {
    background: url("./img/star_l4.svg") no-repeat center;
  }
  &--r1 {
    background: url("./img/star_r1.svg") no-repeat center;
  }
  &--r2 {
    background: url("./img/star_r2.svg") no-repeat center;
  }
  &--r3 {
    background: url("./img/star_r3.svg") no-repeat center;
  }
  &--r4 {
    background: url("./img/star_r4.svg") no-repeat center;
  }
}

.oval {
  display: inline-block;
  margin: v.$margin-xs;
  padding: v.$margin-m;

  border-radius: 50%;
  border: v.$border-s;
  width: fit-content;
  height: fit-content;
  aspect-ratio: 4/1;

  font-family: v.$font-mono;
  text-align: center;
  text-transform: uppercase;
  &--thick {
    border: v.$border-m;
  }
}

.iconlist {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: v.$margin-s;
  margin: 0 v.$margin-m v.$margin-m;
  padding-right: v.$margin-l;
  &__icon {
    height: 30px;
    &--desktop {
      height: 30px;
      aspect-ratio: 18/16;
    }
    &--mobile {
      height: 30px;
      aspect-ratio: 12/16;
    }
    img {
      width: unset;
      height: 100%;
    }
  }
}

.iconsvg_bg {
  fill: v.$col-black;
  fill-rule: evenodd;
  stroke-width: 0px;
}
.iconsvg_fill {
  fill: v.$col-bg;
  fill-rule: evenodd;
  stroke-width: 0px;
}

.footer__icon {
  height: 25px;
}
