@use "./variables" as v;
@use "./mixins" as m;

.maingrid {
  display: grid;
  grid-template-columns:
    [gutter-l-start] v.$frame-size [gutter-l-end content-start] 1fr
    [content-1] 1fr [content-2] 1fr [content-3] 1fr [content-4] 1fr
    [content-5] 1fr [content-end gutter-r-start] v.$frame-size [gutter-r-end];
  grid-template-rows: repeat(1, auto);
  gap: v.$margin-m;
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

/* GRID ROWS */

.gr--1 {
  grid-row: span 1;
}

.gr--2 {
  grid-row: span 2;
}

.gr__tablet--1 {
  @include m.for-size(tablet) {
    grid-row: span 1;
  }
}

/* GRID COLUMNS */

.gc--full {
  grid-column: content-start / content-end;
}

.gc--start3 {
  grid-column: content-start / content-3;
}

.gc--start4 {
  grid-column: content-start / content-4;
}

.gc--4end {
  grid-column: content-4 / content-end;
}

/* GRID COLUMNS TABLET */

.gc__tablet--full {
  @include m.for-size(tablet) {
    grid-column: content-start / content-end;
  }
}

.gc__tablet--start2 {
  @include m.for-size(tablet) {
    grid-column: content-start / content-2;
  }
}

.gc__tablet--start3 {
  @include m.for-size(tablet) {
    grid-column: content-start / content-3;
  }
}

.gc__tablet--start4 {
  @include m.for-size(tablet) {
    grid-column: content-start / content-4;
  }
}

.gc__tablet--start5 {
  @include m.for-size(tablet) {
    grid-column: content-start / content-4;
  }
}

.gc__tablet--15 {
  @include m.for-size(tablet) {
    grid-column: content-1 / content-5;
  }
}

.gc__tablet--35 {
  @include m.for-size(tablet) {
    grid-column: content-3 / content-5;
  }
}

.gc__tablet--3end {
  @include m.for-size(tablet) {
    grid-column: content-3 / content-end;
  }
}

.gc__tablet--4end {
  @include m.for-size(tablet) {
    grid-column: content-4 / content-end;
  }
}

/* GRID COLUMNS DESKTOP */

.gc__desktop--start3 {
  @include m.for-size(desktop) {
    grid-column: content-start / content-3;
  }
}

.gc__desktop--35 {
  @include m.for-size(desktop) {
    grid-column: content-3 / content-5;
  }
}

.gc__desktop--3end {
  @include m.for-size(desktop) {
    grid-column: content-3 / content-end;
  }
}

.gc__desktop--4end {
  @include m.for-size(desktop) {
    grid-column: content-4 / content-end;
  }
}
