/* FONT */
$font-serif: "EB Garamond", serif;
$font-sans: "Space Grotesk", sans-serif;
$font-mono: "Space Mono", monospace; //byt till mindre

$font-xxl: 6rem;
$font-xl: 1.8rem;
$font-l: 1.5rem;
$font-m: 1.2rem;

/* COLORS */
$col-frame: rgb(107, 164, 107);
$col-bg: rgb(115, 174, 115);
$col-black: black;

/* MARGINS */
$margin-l: 3rem;
$margin-m: 1.5rem;
$margin-s: 1rem;
$margin-xs: 0.5rem;

/* BORDERS */
$border-m: 2px solid $col-black;
$border-s: 1px solid $col-black;

/* FRAME */
$frame-size: $margin-m;

/* BREAKPOINTS */
$break-tablet: 600px;
$break-desktop: 1000px;
