@use "./variables" as v;
@use "./mixins" as m;
@use "./frame";
@use "./maingrid";
@use "./graphics";
@use "./unitHelpers";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Space+Grotesk:wght@300..700&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: v.$col-bg;
  padding: v.$frame-size 0 calc(v.$frame-size * 2);
}

.intro {
  min-height: 100vh;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__star {
    height: 110px;
    vertical-align: bottom;
  }
}

.fyrkant {
  background: url("./img/star_n.svg") no-repeat center;
  aspect-ratio: 1/1;
  @include m.for-size(tablet) {
    aspect-ratio: unset;
  }
}

.header {
  font-size: v.$font-xxl;
  text-transform: uppercase;
  font-family: v.$font-sans;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  word-wrap: break-word;
  &--m {
    font-size: v.$font-xl;
    font-weight: 700;
  }
  &--s {
    font-size: v.$font-xl;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    line-height: unset;
    font-family: v.$font-sans;
  }
}

.border {
  border: v.$border-m;
}

.box {
  display: flex;
  flex-direction: column;
  &--rounded {
    border-radius: v.$margin-m;
    overflow: hidden;
  }

  &--top {
    width: 100%;
    padding: v.$margin-xs 0 v.$margin-xs;
    &__dark {
      background-color: v.$col-black;
      color: v.$col-bg;
    }
  }

  &--bottom {
    width: 100%;
    padding: v.$margin-xs 0 v.$margin-m;
  }

  &--header {
    @extend .header;
    @extend .header--s;
  }
  &--border {
    border: v.$border-m;
    .box--bottom {
      padding: v.$margin-xs v.$margin-m v.$margin-m;
    }
    .box--top {
      padding: v.$margin-xs v.$margin-m;
    }
  }
}

.btn {
  border-radius: 999em;
  border: v.$border-m;
  padding: v.$margin-s v.$margin-l;

  color: v.$col-bg;
  background-color: v.$col-black;

  font-family: v.$font-sans;
  font-size: v.$font-l;
  font-weight: 700;

  cursor: pointer;

  &:hover {
    color: v.$col-black;
    background-color: v.$col-bg;
  }

  &--inverted {
    color: v.$col-black;
    background-color: v.$col-bg;
    &:hover {
      color: v.$col-bg;
      background-color: v.$col-black;
    }
  }
}

.bodytext {
  font-family: v.$font-sans;
  font-size: v.$font-m;
  line-height: 1.4;
}

img {
  width: 100%;
}

.image--bw {
  filter: grayscale(100%);
  mix-blend-mode: multiply;
}
