@use "./variables" as v;
@use "./mixins" as m;
@use "./frame";
@use "./maingrid";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Space+Grotesk:wght@300..700&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: v.$col-bg;
  padding: v.$frame-size 0 calc(v.$frame-size * 2);
}

.intro {
  min-height: 100vh;
  grid-row: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__text {
    @extend .header;
  }
  &__star {
    display: inline-block;
    height: 110px;
    aspect-ratio: 1/1;
    color: rgba(0, 0, 0, 0);
    vertical-align: bottom;
    &--l3 {
      background: url("./img/star_l3.svg") no-repeat center;
    }
    &--l4 {
      background: url("./img/star_l4.svg") no-repeat center;
    }
    &--r3 {
      background: url("./img/star_r3.svg") no-repeat center;
    }
    &--r4 {
      background: url("./img/star_r4.svg") no-repeat center;
    }
  }
}

.fyrkant {
  background: url("./img/star_n.svg") no-repeat center;
  min-height: 30px;
}

.header {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: v.$font-sans;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  word-wrap: break-word;
}

.border {
  border: v.$border-m;
}

.box {
  display: flex;
  flex-direction: column;
  &--border {
    border: v.$border-m;
  }
  &--rounded {
    border-radius: v.$margin-m;
    overflow: hidden;
  }

  &--top {
    width: 100%;
    padding: v.$margin-xs;
    &__dark {
      background-color: v.$col-black;
      color: v.$col-bg;
    }
  }

  &--bottom {
    width: 100%;
    padding: v.$margin-xs;
  }

  &--header {
    font-size: v.$font-l;
    font-family: v.$font-sans;
  }
}

.bodytext {
  font-family: v.$font-sans;
  line-height: 1.4;
  font-size: 1.2rem;
}
