@use "./variables" as v;
@use "./mixins" as m;

@use "./genericHelpers";

@use "./animations";
@use "./boxes";
@use "./buttons";
@use "./frame";
@use "./graphics";
@use "./maingrid";
@use "./modal";
@use "./typography";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Space+Grotesk:wght@300..700&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: v.$col-black;
  color: v.$col-bg;
}

body {
  background-color: v.$col-bg;
}

main {
  padding: v.$frame-size 0 calc(v.$frame-size * 2);
}

/* INTRO SECTION */

.intro {
  min-height: calc(100vh - (v.$frame-size * 2));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.twistyface {
  position: absolute;
  top: -10%;
  left: -15%;
  width: 30%;
}

a {
  color: v.$col-black;
  text-decoration: underline 2px;
  font-weight: 600;
  position: relative;
  &:hover {
    color: v.$col-bg;
    background-color: v.$col-black;
  }
}
